<div>
  <h3>Posts List</h3>
  <hr>
</div>

<div>
  <a [routerLink]="['add']">Add Post</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of posts$ | async">
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.description}}</td>
    <td>
      <button class="btn btn-primary me-2" [routerLink]="['edit', post.id]">Edit Post</button>
      <button class="btn btn-danger">Delete Post</button>
    </td>
  </tr>
  </tbody>
</table>
